{{>navigation1}}
{{>message}} 


<div class="main">
    <div class="container my-5 bg-danger" style="width: 70rem">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                        <img style="height: 10em;" src="https://cdn-icons-png.flaticon.com/512/993/993891.png" class="img-fluid rounded-start" alt="...">
                    </div>
                <div class="col-md-6">
                    <h2>Bienvenido Administrador: {{nombree.fullname}}</h2>
                </div>
            </div>
        </div> 
    </div>
    

    
</div>