{{>navigation1}}
{{>message}} 

<div class="main" style="max-width : 50em;">
    <!--====== FEATURE ONE PART START ======-->
<section class="features-area features-one mt-3 border">
   <div class="container">
      <div class="row justify-content-center " style='background-color : #893333'>
         <div class="col-lg-6 ">
            <div class="section-title text-center">
               <h3 class="" style="color : white">Panel de Administrador</h3>
               <h5 class="" style="color : white">Bienvenido: {{nombree.fullname}}</h5>
            </div>
            <!-- row -->
         </div>
      </div>
      <!-- row -->
      <div class="row justify-content-center ">

         <div class="col-lg-4 col-md-7 col-sm-9 ">
            <div class="features-style-one text-center border">
               <div class="features-icon">
                  <i class="cantser">{{servicios}}</i>
               </div>
               <div class="features-content ">
                  <h4 class="features-title ">Servicios Disponibles</h4>
                  
                  <div class="features-btn rounded-buttons">
                     <a
                        class="btn primary-btn-outline rounded-full"
                        onclick="window.location='servicios';"
                        >
                     Ver Servicios
                     </a>
                  </div>
               </div>
            </div>
            <!-- single features -->
         </div>
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="features-style-one text-center border">
               <div class="features-icon">
                  <i class="cantser">{{proveedores}}</i>
               </div>
               <div class="features-content">
                  <h4 class="features-title">Proveedores</h4>
                  
                  <div class="features-btn rounded-buttons">
                     <a
                        class="btn primary-btn-outline rounded-full"
                        onclick="window.location='proveedores';"
                        >
                     Ver proveedores
                     </a>
                  </div>
               </div>
            </div>
            <!-- single features -->
         </div>
         <div class="col-lg-4 col-md-7 col-sm-9">
            <div class="features-style-one text-center border">
               <div class="features-icon">
                  <i class="cantser">{{ordenes}}</i>
               </div>
               <div class="features-content">
                  <h4 class="features-title">Trabajos realizados</h4>
                 
                  <div class="features-btn rounded-buttons">
                     <a
                        class="btn primary-btn-outline rounded-full"
                        onclick="window.location='gestionarorden';"
                        >
                     Ver Trabajos
                     </a>
                  </div>
               </div>
            </div>
            <!-- single features -->
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== FEATURE ONE PART ENDS ======-->
    

    
</div>