{{>navigation3}}
{{>message}} 

<div class="main">
    <div class="container my-5">
        <div class="card text-center">
            <div class="card-body">
                <a>Evalúe el servicio</a>
                <form action="/Cliente/Evaluar" method="POST" class="row g-3 novalidate was-validated"  novalidate>

                    <div class="col-md-4">
                        <label for="valoracion" class="form-label das">Valoración General</label>
                        <select class="form-select" name="valoracion" aria-label="Default select example" required>
                            <option value="5">5 Estrellas</option>
                            <option value="4">4 Estrellas</option>
                            <option value="3">3 Estrellas</option>
                            <option value="2">2 Estrellas</option>
                            <option value="1">1 Estrellas</option>
                        </select>
                        <div class="invalid-feedback">
                            Danos una valoracion...
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="valoracionoper" class="form-label das">Valore el Operador (si aplica)</label>
                        <select class="form-select" name="valoracionoper" aria-label="Default select example" required>
                            <option value="0">No Aplica</option>
                            <option value="5">5 Estrellas</option>
                            <option value="4">4 Estrellas</option>
                            <option value="3">3 Estrellas</option>
                            <option value="2">2 Estrellas</option>
                            <option value="1">1 Estrellas</option>
                        </select>
                        <div class="invalid-feedback">
                            Danos una valoracion...
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="valoracionpunt" class="form-label das">Valore la puntualidad</label>
                        <select class="form-select" name="valoracionpunt" aria-label="Default select example" required>
                            <option value="5">5 Estrellas</option>
                            <option value="4">4 Estrellas</option>
                            <option value="3">3 Estrellas</option>
                            <option value="2">2 Estrellas</option>
                            <option value="1">1 Estrellas</option>
                        </select>
                        <div class="invalid-feedback">
                            Danos una valoracion...
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="valoracionexp" class="form-label das">Valorión de experiencia</label>
                        <select class="form-select" name="valoracionexp" aria-label="Default select example" required>
                            <option value="5">5 Estrellas</option>
                            <option value="4">4 Estrellas</option>
                            <option value="3">3 Estrellas</option>
                            <option value="2">2 Estrellas</option>
                            <option value="1">1 Estrellas</option>
                        </select>
                        <div class="invalid-feedback">
                            Danos una valoracion...
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="valoracionfallas" class="form-label das">¿Se encontraron fallas? Detalle en el cuadro de texto</label>
                        <select class="form-select" name="valoracionfallas" aria-label="Default select example" required>
                            <option value="5">No hubieron fallas</option>
                            <option value="4">Hubieron pocas fallas</option>
                            <option value="3">Fallas moderadas</option>
                            <option value="2">Fallas importantes</option>
                            <option value="1">Fallas que no permiteron continuar</option>
                        </select>
                        <div class="invalid-feedback">
                            Danos una valoracion...
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="valoracionestado" class="form-label das">Puntúe el estado de la Maquinaria</label>
                        <select class="form-select" name="valoracionestado" aria-label="Default select example" required>
                            <option value="5">Excelente estado</option>
                            <option value="4">Buen Estado</option>
                            <option value="3">Moderado</option>
                            <option value="2">Mal Estado</option>
                            <option value="1">Deplorable</option>
                        </select>
                        <div class="invalid-feedback">
                            Danos una valoracion...
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="description" class="form-label">Comentarios</label>
                        <textarea class="form-control" value="" id="description" name="description" rows="3" ></textarea>
                    </div>
                    
                    <input id="VALid" name="VALid" type="hidden" value="{{VAL.id}}">

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar Evaluación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>