<!--====== SIGNIN ONE PART START ======-->
<section class="signin-area signin-one">
  <div class="container">
    <div class="row justify-content-center">


      <div class="col-lg-5">



        <form action="/solicitud" method="POST">

          <div class="signin-form form-style-two rounded-buttons">

            <div class="text-center">
              <p class="h1">Solicitar ser Proveedor</p>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9PqmAO57lYcWDY6eiLYMaG1k9cIXPbkEQOw&usqp=CAU"
                class="rounded" alt="...">
            </div>

            <div class="row">

              <div class="col-md-12">
                <div class="form-input">

                  <div class="input-items default">
                    <input type="type" name="empresa" placeholder="Nombre de Empresa" autofocus required>
                    <i class="lni lni-user"></i>
                  </div>
                </div>
                <!-- form input -->
              </div>
              <div class="col-md-12">
                <div class="form-input">

                  <div class="input-items default">
                    <input type="text" name="nombre" placeholder="Nombre de Contacto" required>
                    <i class="lni"></i>
                  </div>
                </div>
                <!-- form input -->
              </div>

              <div class="col-md-12">
                <div class="form-input">

                  <div class="input-items default">
                    <input type="text" name="numero" placeholder="Numero de Contacto" required>
                    <i class="lni"></i>
                  </div>
                </div>
                <!-- form input -->
              </div>

              <div class="col-md-12">
                <div class="form-input">

                  <div class="input-items default">
                    <input type="text" name="ubicacion" placeholder="Ubicacion" required>
                    <i class="lni"></i>
                  </div>
                </div>
                <!-- form input -->
              </div>

              <div class="mt-2">
                    <label for="tipo">Seleccione su Tipo:</label>
                    <select id="tipo" name="tipo" class="form-select">
                    <option value="Particular">Particular</option>
                    <option value="Empresa">Empresa</option>
                    </select>
                </div>             
              

              <div class="row">

                  <div class="col">
                    <div class="form-input rounded-buttons">
                    <button class="btn primary-btn rounded-full" type="submit">
                      Solicitar Contactarme!
                    </button>
                  </div>
                
               

              </div>


            </div>
          </div>
          <!-- signin form -->
        </form>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== SIGNIN ONE PART ENDS ======-->

<script>

  const volver = () => {
    console.log("asd")
  }

</script>