body {
  background: white;
}

.logo {
  width: 30%;
}

.bg-black {
  background: #331993  !important;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


/* Configuracion de Nav Izquierda x kiwix*/

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(137, 51, 51);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 260px; /* hay que dejarlo del mismo largo del Nav izquierdo para colocar la infomacion (toma un margen) */
  font-size: 28px; /* Aumenta la letra */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dropdown { 
  position: absolute;
  bottom: 0.0;
  margin: 20px; /* hago que se levante el Mi cuenta con la imagen */
}

.das {
  text-align: left !important;
  font-size: large;
  width: 99%;
}  

.input-container {
  display: inline;
  margin: 10px;
}

option {
  margin: 0.5em;
}

.my-custom-scrollbar {
  position: relative;
  height: 700px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

.my-custom-scrollbar2 {
  position: relative;
  height: 400px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

.card-formal{
  background-color: #52efd7;
}

.coloresa{
  color: #f8ce0b;
}

.back {
  background-color: #ef7c7c;
}

.back2 {
  background-color: #757c85;
}



