{{>message}}

<!--====== SIGNIN ONE PART START ======-->
<section class="signin-area signin-one">
  <div class="container">
    <div class="row justify-content-center">


      <div class="col-lg-5">



        <form action="/signup" method="POST" class="row g-3 novalidate was-validated"  novalidate>

          <div class="signin-form form-style-two rounded-buttons">

            <div class="text-center">
              <p class="h1">Registro de Proveedores</p>
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9PqmAO57lYcWDY6eiLYMaG1k9cIXPbkEQOw&usqp=CAU"
                class="rounded" alt="...">
            </div>

            <div class="row">

              <div class="col-md-12">
                <div class="form-input">

                  <div class="input-items default">
                    <input type="type" name="fullname" placeholder="Nombre de Empresa" autofocus required>
                    <i class="lni lni-user me-4"></i>
                    <div class="invalid-feedback">
                        Proporciona el nombre de la Empresa
                    </div>
                  </div>
                </div>
                <!-- form input -->
              </div>
              <div class="col-md-12">
                <div class="form-input">

                  <div class="input-items default">
                    <input type="text" name="username" placeholder="Nombre de Usuario" required>
                    <i class="lni lni-key me-4"></i>
                    <div class="invalid-feedback">
                        Proporciona el nombre de usuario "ÚNICO"
                    </div>
                  </div>
                </div>
                <!-- form input -->
              </div>

            
                <div class="mt-2">
                        <label for="rol">Seleccione Rol:</label>
                        <select id="rol" name="rol" class="form-select">
                          <option value="Proveedor">Proveedores</option>
                          <option value="Admin">Administrador</option>
                        </select>
                      </div>

              <div class="col-md-12">
                <div class="form-input">

                  <div class="input-items default">
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <i class="lni lni-key me-4"></i>
                    <div class="invalid-feedback">
                        Proporciona tu Contraseña
                    </div>
                  </div>
                </div>
                <!-- form input -->
              </div>
              
              <div class="col-md-6">
                <div class="form-input rounded-buttons">
                  <button class="btn primary-btn rounded-full" type="submit">
                    Registrar Usuario
                  </button>
                </div>
                <!-- form input -->
              </div>


            </div>
          </div>
          <!-- signin form -->
        </form>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== SIGNIN ONE PART ENDS ======-->