{{>message}}


<!--====== SIGNIN ONE PART START ======-->
<section class="signin-area signin-one">
   <div class="container">
      <div class="row justify-content-center">
        
        
         <div class="col-lg-5">

         
          
            <form action="/signin" method="POST">

               <div class="signin-form form-style-two rounded-buttons">
                
                 <div class="text-center">
                  <p class="h1">Iniciar Sesión</p>
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9PqmAO57lYcWDY6eiLYMaG1k9cIXPbkEQOw&usqp=CAU" class="rounded" alt="...">
                </div>

                  <div class="row">
                     
                     <div class="col-md-12">
                        <div class="form-input">
                           
                           <div class="input-items default">
                              <input
                type="text"
                
                name="username"
                placeholder="Usuario"
                autofocus
              />
                              <i class="lni lni-user"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-12">
                        <div class="form-input">
                           
                           <div class="input-items default">
                              <input
                type="password"
                
                name="password"
                placeholder="Contraseña"
              />
                              <i class="lni lni-key"></i>
                           </div>
                        </div>
                        <!-- form input -->
                     </div>
                     <div class="col-md-6">
                        <div class="form-input rounded-buttons">
                           <button
                              class="btn primary-btn rounded-full"
                              type="submit"
                              >
                           Iniciar Sesión
                           </button>
                        </div>
                        <!-- form input -->
                     </div>
                     
                     
                  </div>
               </div>
               <!-- signin form -->
            </form>
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== SIGNIN ONE PART ENDS ======-->