<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Inicio de Sesion</h3>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9PqmAO57lYcWDY6eiLYMaG1k9cIXPbkEQOw&usqp=CAU" alt="Logo" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="mb-3">
              <label for="Username">Usuario:</label>
              <input
                type="text"
                class="form-control bg-dark text-white"
                name="username"
                placeholder="Usuario"
                autofocus
              />
            </div>
            <div class="mb-3">
              <label for="passsword">Contraseña:</label>
              <input
                type="password"
                class="form-control bg-dark text-white"
                name="password"
                placeholder="Contraseña"
              />
            </div>
            
            <button class="btn btn-primary btn-block">
              Entrar
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

